<h2>User info</h2>
  <div class='profile-container'>
    <p>
      <%= attachment_image_tag user, :profile_image, :fill, 60, 60, format:'jpeg', fallback: "no_image.jpg"%>
    </p>
    <p>Name <%= user.name %></p>
    <p>Introduction <%= user.introduction %></p>
    <% if user == current_user %>
    <p><%= link_to'profile edit', edit_user_path(user) %></p>

    <% end %>
  </div>