<%= render'users/user', user: @user %>
<%= render'books/book', book: @book %>

<h2>Books</h2>

<section>
  <th>Title</th>
  <th>Opinion</th>
  <% @books.each do |book|%>
  <td class='title'><%= book.title %></td>
  <td class='body'><%= book.body %></td>
  <% end %>
</section>


