<div>
  <h2>
    Book detail
  </h2>
  <comment>ここにはedit画面のリンク　deleteのボタン</comment>
  <% if @book.user == current_user %>
    <%= link_to'delete', book_path(@book), method: :delete%>
  <%end %>
</div>