<header>
  <!--共通部分-->
</header>
<main>
  <h1>Welcome to #アイコン挿入
    <strong>Bookers</strong>
  </h1>
  <p>
    In #アイコン挿入
    <strong>Bookers</strong>,
  </p>
  <p>you can share and exchange your opinions , inpressions , and emotions</p>
  <p>about various books!</p>

  <a href='books'>
    # ログイン
  </a>

  # 登録画面
</main>
<footer>
  <!--共通部分-->
</footer>